# top-most .editorconfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.cfg]
indent_size = tab

[{make.bat, Makefile}]
indent_style = tab

[*.py]
max_line_length = 90

[*.{yaml, yml}]
indent_size = 2
