# http://about.travis-ci.org/docs/user/languages/python/

sudo: false
language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"

install:
  - python setup.py install
  - pip install coveralls

script:
  - python setup.py test

after_success:
  - coveralls
