include CHANGELOG.md
include CONTRIBUTING.md
include CREDITS.md
include README.md
include LICENSE.md
# prospector config - https://github.com/landscapeio/prospector
include .landscape.yaml
include .editorconfig
include tox.ini
graft docs
graft examples
