---
name: Run integration tests

on: ["push", "pull_request"]

jobs:
  build:
    runs-on: "ubuntu-latest"
    strategy:
      max-parallel: 4
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions
      - name: Install podman
        run: sudo apt-get -y install podman
      - name: Integration test with tox
        run: tox -e integration
